@import "tailwindcss";

::-webkit-scrollbar{
    width: 7px;
    height: 7px;

}
::-webkit-scrollbar-thumb{
     border-radius: 50%;
    background-color: rgb(27, 58, 88);
    
}

::-webkit-scrollbar-thumb:hover{
    background-color: blueviolet;
}

@keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
  